.gallery img {
    width: 100%;
    border-radius: 16px;
    margin-top: 15px;
    transition: transform 0.3s ease;
}

.gallery img:active {
    transform: scale(0.96);
}

.fade-up {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease;
}

.fade-up.show {
    opacity: 1;
    transform: translateY(0);
}